<div class=" row expanded">
    <div class="columns hero" style="background-image: url('../assets/img/surfing-class.jpg')">
          <h1>Plan. Be.</h1>
          <h4>Live a fuller life..</h4>
    </div>
</div>

<div class="pb_row expanded" style="height:100px;background-color: rgba(0,0,0,0.65);padding:30px 15% 30px 15%;z-index:5;position:relative; top:-120px;display:inline-block">
            <div class="small-12 pb_columns">
                  <div class="input-group float-left " >
                      <input class="input-group-field" type="text" placeHolder ="Search" ng-model="queryParam" reqiured/>
                      <a class="input-group-button button "  ng-click="onSearch()"><translated key="search"></translated></a>
                  </div>
              </div>
</div>
<div class="pb_row">
    <div class="small-12 pb_columns">
        <h5>Recommended for you</h5>
        <div >

    </div>
    <div class="row small-up-1 medium-up-2 large-up-3" style="margin-top:40px;">
        <div class="columns" ng-repeat="n in  res  track by $index">

            <div class="ws-display fade-in" ng-click="clickWS($event,n.workshop.id)">

            <div class="ws-display ws-image"  ng-style="{'background-image':'url({[{n.workshop.assets[0].url}]})'}">
                <div class="dark-label">
                    <span class="price">{[{n.workshop.price | currency}]} </span>
                    <span class="like-button float-right" ng-click="addToFav($event)"><md-tooltip>Add to your wishlist</md-tooltip></span>
                </div>
            </div>

            <div style="margin-top: 8px; cursor:pointer" ng-click="clickWS($event,n.workshop.id)"> {[{n.workshop.name}]}</div>
                <div >	 <span style="color:orangered">★★★★☆ </span> <span style="font-size: 0.9rem">67 <translated key="reviews"></translated></span> </div>
            </div>

        </div>
        <div class="columns">

        </div>
    </div>
</div>
</div>
<div class="pb_row" style="margin-top:60px;">
    <div class="small-12 pb_columns">
        <h5>Hapenning now</h5>
        <div >

    </div>
    <div class="row small-up-1 medium-up-2 large-up-3" style="margin-top:40px;">
        <div class="columns" ng-repeat="n in  res2  track by $index">

            <div class="ws-display fade-in" ng-click="clickWS($event,n.workshop.id)">

            <div class="ws-display ws-image"  ng-style="{'background-image':'url({[{n.workshop.assets[0].url}]})'}">
                <div class="dark-label">
                    <span class="price">{[{n.workshop.price | currency}]} </span>
                    <span class="like-button float-right" ng-click="addToFav($event)"><md-tooltip>Add to your wishlist</md-tooltip></span>
                </div>
            </div>

            <div style="margin-top: 8px; cursor:pointer" ng-click="clickWS($event,n.workshop.id)"> {[{n.workshop.name}]}</div>
                <div >	 <span style="color:orangered">★★★★☆ </span> <span style="font-size: 0.9rem">67 <translated key="reviews"></translated></span> </div>
            </div>

        </div>
        <div class="columns">

        </div>
    </div>
</div>
</div>

<div class="pb_row"  style="margin-top:80px;padding-bottom:80px;">
    <div class="small-12 pb_columns">
        <div style=" height:400px;background: no-repeat center center;background-color:#e1e1e1;background-image:url('../assets/img/cooking-class.jpg');background-size: cover;background-color: #414741;background-blend-mode:overlay;">
</div>
</div>
