<div class="pb_row" style="padding-top:90px">
    <div class="small-12 columns">

     <translated key="found"></translated> {[{res.length || 0}]} <translated key="results"></translated> <br> <label class="label">{[{term}]}</label>
   </div>
</div>

                <div class="pb_row " style="margin-top:50px;">
                    <div class="small-12 medium-3 pb_columns">
                             <input  type="text" style="max-width:200px;" ng-model="queryCity" placeholder="Choose a City" ng-change="onCityChange()"/>
                             <select ng-model="queryCity" ng-change="onCityChange()" >
                                     <option value="Barcelona">Barcelona</option>
                                      <option value="Tel Aviv">Tel Aviv</option>
                                       <option value="Paris">Paris</option>
                             </select>

                    </div>

                         <div class="small-12 medium-3 pb_columns">
                               <div class="float-left" style="min-width:250px;"> <md-slider ng-model="queryDistance"  step="2" min="2" max="100" aria-label="rating" ng-change="onDistanceChange()"></md-slider></div>
                         </div>

                             <!--input class="input-group-field float-right" type="range" min="2" max="100" step="2" ng-model="queryDistance" style="width:100%;background-color:#eeeeee;margin-right:20px;margin-top:20px;"/-->




                    <div class="small-12 medium-6 pb_columns" style="background-color:#eeeeee;height:60px;">
                            <div class="input-group float-left" style="height:100%; padding:10px;" >
                                  <a class="input-group-button button" style="margin-right:10px;" ng-click= "searchLocation()" >Upcoming</a>
                                  <a class="input-group-button button secondary">AM</a>
                                  <a class="input-group-button button secondary">PM</a>
                                   <a class="input-group-button button">Best Reviews</a>
                    </div>
                    </div>
        </div>


                <div class="row small-up-1 medium-up-2 large-up-4" style="margin-top:40px;">
                    <div class="columns" ng-repeat="n in  res  track by $index">

                        <div class="ws-display fade-in" ng-click="clickWS($event,n.workshop.id)">

                        <div class="ws-display ws-image"  ng-style="{'background-image':'url({[{n.workshop.assets[0].url}]})'}">
                            <div class="dark-label">
                                <span class="price">{[{n.workshop.price | currency}]} </span>
                                <span class="like-button float-right" ng-click="addToFav($event)"><md-tooltip>Add to your wishlist</md-tooltip></span>
                            </div>
                        </div>

                        <div style="margin-top: 8px; cursor:pointer" ng-click="clickWS($event,n.workshop.id)"> {[{n.workshop.name}]}</div>
                            <div >	 <span style="color:orangered">★★★★☆ </span> <span style="font-size: 0.9rem">67 <translated key="reviews"></translated></span> </div>
                        </div>

                    </div>
                    <div class="columns">

                    </div>
                </div>

    </div>
</div>
