<div class=" row expanded">
    <div class="columns hero" style="background-image: url('{[{workshop.assets[0].url}]}')">
<h1>{[{workshop.name}]}</h1>
    </div>
</div>



<div class="pb_row fade-in" style="margin-top:5%" >

    <div class="small-8 pb_columns centered ">

            <h2>
                 {[{workshop.name}]}
            </h2>
        <h5><div>By <a  ng-click="gotoBusiness(workshop.business.id)" >{[{workshop.business.name}]}</a></h5>
    </div>

    <div class="small-4 pb_columns centered ">
        <a class="button float-right" ng-show=" workshop.business.owner==userDetails.userId ">Edit</a>
    </div>

    <div class="small-12 medium-12 pb_columns centered">

    <div >
        <label >
            About</label>
            <div>
               {[{workshop.description}]}
            </div>


    </div>
</div>


        <div class="small-12 columns">

            <label>Images
                <div class="callout">
                    <div class="row small-up-1 medium-up-2 large-up-4">
                        <div class="columns" ng-repeat="n in workshop.assets  track by $index">
                            <div class="callout biz-logo" style="background-image: url('{[{workshop.assets[$index].url}]}');padding:0;">
                                </div>
                            </div>

                        </div>
                </div>
            </label>
        </div>


    <div class="small-4 medium-4 columns centered">

        <fieldset class="fieldset"  style="background-color: #7ABA7A; color:#eeeeee">
            <legend style="background-color: #161b1d">
                Price
            </legend>
            <h4>{[{workshop.price | currency}]}</h4>
        </fieldset>
    </div>
    <div class="small-4 medium-4 pb_columns centered">

        <fieldset class="fieldset">
            <legend>
                Volume Discount
            </legend>
            {[{workshop.volume }]}  / {[{workshop.volumeprice | currency}]}
        </fieldset>
    </div>
    <div class="small-4 medium-4 pb_columns centered">

        <fieldset class="fieldset">
            <legend>
               Number of Seats
            </legend>
            {[{workshop.seats}]}
        </fieldset>
    </div>
    <div class="small-12 medium-12 pb_columns centered">

        <fieldset class="fieldset">
            <legend>
                What you will learn
            </legend>
          <l>
              <li ng-repeat="item in workshop.learn track by $index">
                  {[{item}]}
              </li>
          </l>
        </fieldset>
    </div>
<div class="small-12 medium-12 pb_columns centered">

    <fieldset class="fieldset">
        <legend>
            Who is it for
        </legend>
        <l>
            <li ng-repeat="item in workshop.whofor track by $index">
                {[{item}]}
            </li>
        </l>
    </fieldset>
</div>

    <div class="small-12 medium-12 pb_columns centered">

        <fieldset class="fieldset">
            <legend>
                Need to know
            </legend>
            <l>
                <li ng-repeat="item in workshop.needto">
                    {[{item}]}
                </li>
            </l>
        </fieldset>
    </div>


    <div class="small-4 medium-4 pb_columns centered">

        <fieldset class="fieldset">
            <legend>
                Our Cancelation  Policy
            </legend>
            {[{(workshop.cancelpolicy)?"Easy" : "Strict"}]}
        </fieldset>
    </div>

</div>