<div class=" row expanded fade-in" >
    <div class="columns hero" style="background-image: url('{[{workshop.assets[0].url}]}')">
            <a class="button float-right" ng-if="workshop.business.owner==userId " ng-click="navigateTo('workshop','/updateworkshop/' +wsid)">Edit</a>
    </div>
</div>

<div class="pb_row">
    <div class="small-12 pb_columns" style="padding: 44px;min-height:249px;background-color:#ffffff">
        <div class="pb_row">

                <div class="small-8 pb_columns" style="padding:0;min-height:140px;">
                    <div class="pb_row">
                            <div class="small-3 pb_columns">
                                    <div class="pb_biz_profilepic"></div>
                            </div>
                            <div class="small-9 pb_columns">
                                    <h3>dfsdfsdf dfsdfsdf sdf sd</h3>
                            </div>
                      </div>


        </div>
    </div>
    </div>
</div>
