<div class=" fade-in">
    <div class="pb_row">
        <div class="small-12 medium-6  small-centered columns">
        <span style="text-align:center;"  > <h4>First, let's set up your business</h4>
            <h6>Enter your address to enable default currency, taxes, and invoice settings based on your region.
                You can change these at any time</h6></span>
        </div>
    </div>
        <form  name="bizForm" ng-submit="submitFunc(newBiz)" novalidate >
            <div class="pb_row" style="margin-top:5%;">
                <div class="small-12 small-centered columns ">


                    <div class="row">
                            <div class="small-12 medium-6 small-centered columns">
                                <pb_label>Business name
                                    <input type="text" placeholder=""  required ng-model="newBiz.name" name="name">
                                </pb_label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="small-12 medium-6 small-centered  columns">
                                <pb_label>Email
                                    <input type="email" placeholder=""  required  ng-model="newBiz.email" name="email" >
                                </pb_label>
                            </div>
                        </div>

                    <div class="row">
                            <div class="small-12 medium-6 small-centered  columns">
                                <pb_label>Business Phone
                                    <input type="text" placeholder=""  required  ng-model="newBiz.phone" name="phone">
                                </pb_label>
                            </div>
                        </div>

                    <div class="row">
                            <div class="small-12 medium-6 small-centered columns">
                                <pb_label>Address
                                    <input type="text" placeholder=""  required  ng-model="newBiz.country" name="country">
                                </pb_label>
                            </div>
                        </div>


                    <div class="row">
                            <div class="small-12 medium-6 small-centered pb_columns">
                              <button class="large button expanded" type="submit"  ng-class="{'disabled' : bizForm.$invalid}">Next, Set up your workshop</button>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
