<div class=" fade-in" >
    <form  name="wsForm3" ng-submit="update(showWSForm+1)" novalidate >

        <div class="pb_row">

            <div class="small-4 columns end">
            <label>Lat
                <input type="number" step="0.00000000001" placeholder="" ng-model="workshop.lat" name="lat">
            </label>
        </div>
            <div class="small-4 columns end">
                <label>Long
                    <input type="number" step="0.00000000001" placeholder="" ng-model="workshop.long" name="long">
                </label>
            </div>


</div>
        <div class="pb_row">

        <div class="small-4 columns end">
            <label>Address
                <select id="select" required  ng-model="workshop.address" name="address">
                    <option value=""></option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Tel Aviv">Tel Aviv</option>
                </select>
            </label>
        </div>
            </div>



        <div class="row">
            <div class="small-8 pb_columns">
                <button class=" button float-right" type="submit" value="Submit" ng-class="{'disabled' : wsForm3.long.$invalid || wsForm3.lat.$invalid || wsForm3.address.$invalid}">NEXT</button>
                <a class="secondary button float-right"  ng-click="update(showWSForm-1)" >BACK</a>
            </div>
        </div>

    </form>
</div>