<div class=" fade-in" >
    <form  name="wsForm1" ng-submit="update(2)" novalidate >

        <div class="row">
            <div class="small-12 medium-8 columns">
                <label>Workshop Title
                    <input type="text" placeholder=""  required ng-model="workshop.name" name="name" >
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-8 columns">
                <label>About
                <textarea rows="4" cols="50"  placeholder=""  required  ng-model="workshop.description" name="description">
                </textarea>

                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-6 medium-4 columns">
                <label>Category
                    <input type="text" placeholder=""  required  ng-model="workshop.category" name="category">
                </label>
            </div>
            <div class="small-6 medium-4 columns end">
                <label>Sub Category
                    <input type="text" placeholder=""  required  ng-model="workshop.subcategory" name="subcategory"  ng-readonly="wsForm1.category.$invalid">
                </label>
            </div>
        </div>

        <div class="pb_row">
            <div class="small-12 medium-8 columns">
                <label>Tags
                    <input type="text" placeholder="Enter tags separated by comma  : example: cooking,vegan,food etc." required name="tags" ng-model="workshop.tags" ng-readonly="wsForm1.category.$invalid ||  wsForm1.subcategory.$invalid">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-8 columns">
                <button class="button float-right" type="submit"  ng-class="{'disabled' : wsForm1.name.$invalid || wsForm1.description.$invalid || wsForm1.category.$invalid|| wsForm1.subcategory.$invalid}">NEXT</button>

            </div>
        </div>



</form>
</div>
