
<div class=" fade-in" >


    <div class="row">
        <div class="small-8 columns">

            <pb-calendar submitFunc="createSession" ></pb-calendar>

        </div>
        <div class="small-4 column">
           <div class="callout secondary fade-in" ng-show="dialogOpen" style="margin-top:35px;">
               <form ng-submit="createSession()" novalidate>
                   <div class="row">
                       <div class="small-12 column">
                           <h5>Add new event to calendar:</h5>
                           <h4>{[{session_month}]},{[{session_day}]} ,{[{session_year}]}</h4>

                       </div>
                   </div>
                   <div class="row">
                   <div class="small-6 column">
                       <label>
                           Start Time :
                           <select  ng-model="startTime" ng-change="onChange()" ng-options=" t.timeRep for t in timeOptiones" >
                               <!--option ng-repeat="t in timeOptiones track by $index" value={[{t}]}>{[{t}]}</option-->
                           </select>
                       </label>
                   </div>
                     <div class="small-6 column">
                       <label>
                           End  Time :
                         <input type="text" readonly ng-model="session_end_time">
                       </label>
                   </div>
               </div>
               <div ng-if="!workshop.isMulti">
                   <div class="pb_row">
                       <div class="small-12 columns">
                            <input type="checkbox" ng-model="ows6ctrl.recurringFlag"> Is Recurring
                               <div style="font-size:0.9rem">You can make this session repeat it self in a pre defined interval</h6></div>
                       </div>
                   </div>
                        <div class="pb_row" ng-if="ows6ctrl.recurringFlag">

                       <div class="small-12 columns end" style="padding-top:10px;">
                           <select ng-model="session.recurringInterval">
                               <option value="1">Weekly</option>
                               <option  value="2">Every 2 weeks</option>
                               <option value="3">Every 3 weeks</option>
                                 <option value="4">Every 4 weeks</option>
                           </select>
                       </div>

                       <div class="small-6 columns">
                           <label>Recurring period (months)
                           </label>
                       </div>

                       <div class="small-6 columns end" style="padding-top:10px;">
                        <input type="number" required ng-model="session.recurring_length" ng-min="1" ng-max="10">
                       </div>

                   </div>
               </div>
                   <div class="row" style="margin-top:20px;">
                       <div class="small-12 column">
                           <button class="button" type="submit">Save</button>
                       </div>
                   </div>
               </form>
           </div>
       </div>
    </div>

    <!--div class="pb_row" >
        <div class="small-12 columns">
           <h3>Sessions :</h3>
        </div>
        <div class="small-12 columns" ng-repeat=" session in workshop.WS_sessions track by $index" style ="background-color: #EAEAEA;border:solid 1px black;margin-bottom:5px;">
            {[{$index+1}]}  -- {[{session.time}]}
            </div>
        </div>

</div>

    <!--div class="small-4 columns">
    <form  name="wsForm6" ng-submit="createSession()" novalidate >

        <div class="pb_row">
            <div class="small-1 columns">
                <label>Date
                    <div>Set the date for the session</div>
                </label>
            </div>

            <div class="small-3 columns end" style="padding-top:10px;">
                <input type="text" placeholder="" required ng-model="session.date" >
            </div>
        </div>

        <div class="pb_row">
        <div class="small-3 columns">
            <label>Stat Time
                <div>Set the hour for the session</div>
            </label>
        </div>

        <div class="small-3 columns end" style="padding-top:10px;">
            <input type="text" placeholder=""  ng-model="session.hour">
        </div>
    </div>
        <!--div class="pb_row">
            <div class="small-3 columns">
                <label>End Time
                    <div>Set the end time for the session</div>
                </label>
            </div>

            <div class="small-3 columns end" style="padding-top:10px;">
                <input type="text" placeholder=""  ng-model="session.hour_end">
            </div>
        </div>



        <div class="pb_row" ng-if="!workshop.isMulti">
            <div class="small-6 columns">
                <label>Is Recurring
                    <div>You can make this session repeat it self in a pre defined interval</div>
                </label>
            </div>

            <div class="small-6 columns end" style="padding-top:10px;">
              <select ng-model="session.recurringInterval">
                  <option value="1">Weekly</option>
                  <option value="2">Every 2 weeks</option>
                  <option  value="3">Every 3 weeks</option>
                  <option value="4">Every 4 weeks</option>
              </select>
            </div>



            <div class="small-6 columns">
                <label>Recurring period
                    <div>You can make this session repeat it self in a pre defined interval</div>
                </label>
            </div>

            <div class="small-6 columns end" style="padding-top:10px;">
             <input type="number" required ng-model="session.recurring_length">
            </div>
        </div>


<div class="row">
    <div class="small-10 pb_columns">
        <button class=" button float-right" type="submit" value="Submit" ng-class="{'disabled' : wsForm6.$invalid}">Add Session</button>
        <a class="secondary button float-right"  ng-click="update(showWSForm-1)" >BACK</a>
    </div>
</div>

</form>
</div-->
