<div class=" fade-in" >
    <form  name="wsForm6" ng-submit="publishWorkshop()" novalidate >

        <div class="pb_row">
            <div class="small-3 columns">
                <pb-label>Price
                    <label>
                    <div>What is the price for this workshop?</div>
                </label>
                </pb-label>
            </div>

            <div class="small-3 columns end" style="padding-top:10px;">
                    <input type="number" placeholder="" required ng-model="workshop.price" string-to-number>
            </div>
        </div>

        <div class="pb_row" style="margin-top:40px;">
                            <div class="small-3 columns">
                                    <input type="checkbox" ng-model="ows5ctrl.earlyFlag"> <pb-label>Earlybird
                                    <label>What is the eprice for early birds?</label>
                                </pb-label>
                            </div>

                           <div ng-if="ows5ctrl.earlyFlag">
                            <div class="small-3 columns ">
                                    <label class="float-left">How many days before?
                                    <input type="number" placeholder=""  ng-model="workshop.earlybird_period" class="float-left" ng-min="0" string-to-number>
                                </label>
                             </div>

                        <div class="small-3 columns end">
                            <label class="float-left">Price per seat
                                <input type="number" placeholder=""  ng-model="workshop.earlybird_price" class="float-left" ng-min="0" string-to-number>
                            </label>
                        </div>
                     </div>
          </div>
        <div class="pb_row" style="margin-top:40px;">

                <div class="small-3 columns">
                                <input type="checkbox" ng-model="ows5ctrl.volumeFlag"> <pb-label>Volume Rate
                        <label>Set a special volume rate</label>
                        </pb-label>
                </div>
                 <div ng-if="ows5ctrl.volumeFlag">
                <div class="small-3 columns ">
                    <label class="float-left">Minimum seats
                        <input type="number" placeholder=""  ng-model="workshop.volume" class="float-left" ng-min="0" string-to-number>
                    </label>
                 </div>

            <div class="small-3 columns end">
                <label class="float-left">Price per seat
                    <input type="number" placeholder=""  ng-model="workshop.volumeprice" class="float-left" ng-min="0" string-to-number>
                </label>
            </div>
         </div>
     </div>


        <div class="pb_row">
            <div class="small-10 columns">
                <fieldset class="fieldset">
                    <legend>Cancellation</legend>
                    <label>What is your cancellation policy?

                    <div class="expanded button-group">
                        <a class="button" name="easy" ng-click="setPolicy(true)" ng-class="{'hollow': !workshop.cancelpolicy}">EASY </a>
                        <a class="button "name="strict" ng-click="setPolicy(false)" ng-class="{'hollow': workshop.cancelpolicy}">STRICT</a>
                    </div>
                    </label>
                </fieldset>
            </div>
        </div>

        <div class="pb_row" style="margin-top:40px;">
            <div class="small-10 pb_columns">
                <button ng-if="isReadyToPublish()==0" class=" button float-right" type="submit" value="Submit" ng-class="{'disabled' : wsForm6.$invalid}">CREATE & PUBLISH</button>
                 <button ng-if="isReadyToPublish()!=0" class=" button float-right" type="submit" value="Submit" ng-class="{'disabled' : wsForm6.$invalid}">COMPLETE MISSING DATA</button>
                <a class="secondary button float-right"  ng-click="update(showWSForm-1)" >BACK</a>
            </div>
        </div>

    </form>
</div>
