<div class=" fade-in" style="margin-top:5%;" >
    <form  name="wsForm5" ng-submit="update(showWSForm+1)" novalidate >
        <div class="pb_row">
            <div class="small-8 columns">
                <h3>Let's continue open a  workshop 3 </h3>

            </div>
        </div>
        <div class="pb_row">
            <div class="small-12 columns">

                <label>Images
                    <div class="callout">
                        <div class="row small-up-1 medium-up-2 large-up-4">
                            <div class="columns" ng-repeat="n in workshop.assets  track by $index">
                               <div class="biz-logo"  style="background-image: url('{[{workshop.assets[$index].url}]}');padding:0;">
                                   <div class="close-btn float-right" ng-click="deletePicture($index)">X </div>
                               <div class ="preload_mask" ng-show="n.loaded==2">
                                   <div class="spinner float-center" style="z-index: 10;position: absolute;"></div>

                               </div>
                               </div>
                                <input  type="text" ng-model="workshop.assets[$index].cation" ng-maxlength="140"/>
                            </div>
                            <div class="columns">
                                <file-drag-upload></file-drag-upload>
                             </div>
                         </div>
                    </div>
                </label>
            </div>
        </div>



        <div class="row">
            <div class="small-12 columns">
                <button class=" button float-right" type="submit" value="Submit" >NEXT</button>
                <a class="secondary button float-right"  ng-click="update((showWSForm-1))" >BACK</a>
                <input type="text" ng-model="workshop.assets[0].url" required ng-hide="true">
            </div>
        </div>
        </form>


</div>
