        <div class=" fade-in" style="margin-top:5%;">
            <form  name="wsFormOne" ng-submit="submitFunc(newWS)" novalidate >
                <div class="pb_row">
                    <div class="small-12 columns">
                        <h3>Let's continue open a  workshop 2</h3>
                    </div>
                </div>
                <div class="pb_row">
                <div class="small-12 columns">
                    <label>Add tags
                        <input type="text" placeholder="Enter tags separated by comma  : example: cooking,vegan,food etc." required name="tags" ng-model="newWs.tags">
                    </label>
                </div>
                    </div>
                <div class="pb_row">
                <div class="small-4 columns">
                    <label>Country
                        <select id="select" required name="country" ng-model="newWs.country">
                            <option value=""></option>
                            <option value="US">United States</option>
                            <option value="IL">Israel</option>
                        </select>
                    </label>
                </div>

                <div class="small-4 columns end">
                    <label>City
                        <input type="text" placeholder="" aria-describedby="exampleHelpText" data-abide-ignore name="city"ng-model="newWs.city">
                    </label>
                </div>
        </div>
                <div class="pb_row">
                <div class="small-12 columns">
                    <fieldset class="fieldset" >
                        <legend>What will participants learn?</legend>
                        <input type="text" placeholder="" required name="learn1" ng-model="newWs.learn1">
                        <input type="text" placeholder=""  name="learn2" ng-model="newWs.learn2">
                        <input type="text" placeholder=""  name="learn3" ng-model="newWs.learn3">
                    </fieldset>
                </div>
                    </div>
                <div class="pb_row">
                <div class="small-12 columns">
                    <fieldset class="fieldset">
                        <legend>Who is it for?</legend>
                        <input type="text" placeholder=""  required name="for1" ng-model="newWs.whofor1">
                        <input type="text" placeholder=""  name="for2" ng-model="newWs.whofor2">
                        <input type="text" placeholder=""  name="for3" ng-model="newWs.whofor3">
                    </fieldset>
                </div>
                    </div>
                <div class="pb_row">
                <div class="small-12 columns">
                    <fieldset class="fieldset">
                        <legend>Need to Know</legend>
                        <input type="text" placeholder="" aria-describedby="exampleHelpText" required ng-model="newWs.needto1">
                        <input type="text" placeholder="" aria-describedby="exampleHelpText" ng-model="newWs.needto2">
                        <input type="text" placeholder="" aria-describedby="exampleHelpText" ng-model="newWs.needto3">
                    </fieldset>
                </div>
                    </div>



                <div class="pb_row">
                    <div class="small-12 columns">
                        <fieldset class="fieldset">
                            <legend>Please choose session type</legend>
                            <div class="expanded button-group">
                                <a class="button" name="easy" ng-click="setSingleSession(false)" ng-class="{'hollow': newWs.isMulti}">One Session </a>
                                <a class="button "name="strict" ng-click="setSingleSession(true)" ng-class="{'hollow': !newWs.isMulti}">Multi Session</a>
                            </div>
                        </fieldset>
                    </div>
                    </div>


                <div class="pb_row">
                    <div class="small-4 columns">
                        <label>How many available seats?
                            <input type="number" placeholder="1" required  ng-model="newWs.seats" ng-min="1">
                        </label>
                    </div>
                    </div>

                <div class="pb_row">
        <div class="small-6 columns">
            <label>Price
                <div class="callout">Please set the price</div>
            </label>
        </div>

        <div class="small-6 columns" style="padding-top:10px;">
            <div class="callout">
                <input type="number" placeholder="" required ng-model="newWs.price">
            </div>
            </label>
        </div>
                    </div>
                <div class="pb_row">
        <div class="small-12 columns">
            <fieldset class="fieldset">
                <legend>Volume</legend>
                <div class="callout secondary float-left">Give discount for volume</div>

                <div class="callout  float-left"><input type="number" placeholder="" aria-describedby="exampleHelpText" required ng-model="newWs.volume"></div>
                <div class="callout  float-left"><input type="number" placeholder="" aria-describedby="exampleHelpText" required ng-model="newWs.volumeprice"></div>
            </fieldset>
        </div>
                    </div>
                <div class="pb_row">
        <div class="small-12 columns">
            <fieldset class="fieldset">
                <legend>Please choose cancelation policy</legend>
                <div class="expanded button-group">
                    <a class="button" name="easy" ng-click="setPolicy(true)" ng-class="{'hollow': !newWs.cancelpolicy}">EASY </a>
                    <a class="button "name="strict" ng-click="setPolicy(false)" ng-class="{'hollow': newWs.cancelpolicy}">STRICT</a>
                </div>
            </fieldset>
        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 pb_columns">
                            <button class="hollow button" type="submit" value="Submit" ng-class="{'disabled' : wsFormOne.tags.$invalid || wsFormOne.country.$invalid || wsFormOne.city.$invalid}">Submit</button>
                        </div>
                </div>

            </form>
        </div>
