        <div class="pb_row  fade-in" ng-show="!regForm.$submitted" >
                <div class="small-12 pb_columns">

                            <div class="pb_row">
                                <div class="small-12 pb_columns">
                                    <h1>Please Create an Account</h1>
                                </div>
                            </div>

                             <div class="pb_row">
                                <div class="small-12 pb_columns">
                                    <form id="regForm" ng-submit="signUp(newUser)" ng-model="regForm" name="regForm" novalidate>


                                                    <div class="pb_row">
                                                        <div class="small-12 pb_columns">
                                                            <label>First Name
                                                                <input type="text" placeholder="John" name="firstName" ng-model="newUser.firstName" required>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="pb_row">
                                                        <div class="small-12 pb_columns">
                                                            <label>Last Name
                                                                <input type="text" placeholder="Doe" name="lastName" ng-model="newUser.lastName" required>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="pb_row">
                                                        <div class="small-12 pb_columns">
                                                            <label>Email
                                                                <input type="email" placeholder="me@something.com" name="email" ng-model="newUser.email" required>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="pb_row">
                                                        <div class="small-12 pb_columns">
                                                            <label>Password Required
                                                                <input type="password" id="password" placeholder="yeti4preZ" name="password" ng-model="newUser.password" ng-minlength="6" ng-maxlength="12" requierd>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="pb_row">
                                                        <div class="small-12 pb_columns">

                                                            <label>Re-enter Password
                                                                <input type="password" placeholder="yeti4preZ" name="confirmPassword" ng-model="newUser.confirmPassword" compare-to="newUser.password" ng-minlength="6" ng-maxlength="12" required>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="pb_row">
                                                        <div class="small-12 pb_columns">
                                                            <button class="button float-right" type="submit" ng-class="{'disabled' : regForm.firstName.$invalid || regForm.lastName.$invalid || regForm.email.$invalid || regForm.password.$invalid || regForm.confirmPassword.$invalid}">Submit</button>
                                                        </div>
                                                    </div>
                                    </form>
                                </div>
                             </div>
                             <div class="pb_row">
                                 <div class="small-12 medium-12 pb_columns">
                             <a class="button" ng-click="socialSignup()">  SIGNUP WITH FACEBOOK</a>
                           </div>
                           </div>
                </div>
        </div>




        <div class="pb_row" ng-show="regForm.$submitted &&  server_ok" style="margin-top:10%;">
                    <div class="large-12 pb_columns fade-in">
                        <h1>Exciting! you've just created a brand new account in PlanBe.</h1>
                        <h3>We have sent you a confirmation email. Please validate you account.</h3>
                        <h6>user:{[{ $scope.returnedData }]}</h6>
                    </div>
        </div>
